html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#slideshow {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.slide.active {
    opacity: 1;
}
